<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <!-- <div id="toolbar" class="toolbar">
                        {:build_toolbar()}
                    </div> -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            
                            <th style="width: 100px">商品id</th>
                            <th>名字</th>
                            <th style="text-align: center">图片</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        <tr>
                            <input type="hidden" id="hid" value="ad_pics">
                            <td style="vertical-align:middle" id="goods_id">{$rows.goods_id}</td>
                            <td style="vertical-align:middle">{$rows.name}</td>
                            <td>
                            	<a href="{$rows.img_url}" target="_blank"><img src="{$rows.img_url}" alt="" style="max-height:100px;max-width:120px"></a>
                            </td>
                            <th style="vertical-align:middle"><a onclick="del_ads()" href="javascript:;" class="btn btn-warning btn-disabled   btn-delte-home" > 删除</a></th>
                            
                        </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
    
    function del_ads(){
        //console.log($);
        let goods_id = $("#goods_id").html();
        let prestr = $("#hid").val();
        let url = '/qugou/public/index.php/admin/qu/ad/delete_ad_pics?goods_id=' + goods_id+'&prestr='+prestr;
        console.log("开始删除: "+ goods_id +"  。。。");
        $.get(url, function(data, status){
            alert("状态："+status +"\n"+data);
        });
    }
    </script>
    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <!--<button type="submit" class="btn btn-success btn-embossed disabled">{:__('Close')}</button>-->
            <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
        </div>
    </div>
</div>
</form>